.h1,
h1,
.h2,
h2,
.h3,
h3,
.p1,
.p2,
p,
.p3,
.input,
a {
  font-family: var(--font-safiro-regular);
}

// HEADINGS
.h0 {
  font-size: clamp(30px, 5vw, 95px);
  line-height: clamp(30px, 5vw, 95px);
}

.h1,
h1 {
  font-size: clamp(38px, 5vw, 70px);
  line-height: clamp(38px, 5vw, 70px);
  // font-family: var(--font-safiro-medium);
}

.h2,
h2 {
  font-size: clamp(26px, 5vw, 48px);
  line-height: clamp(26px, 5vw, 48px);
}

.h3,
h3 {
  font-size: 24px;
  line-height: 24px;
}

// PARAGRAPHS
.p1 {
  font-size: clamp(26px, 5vw, 30px);
  line-height: clamp(26px, 5vw, 30px);
}

.p2 {
  font-size: 20px;
  line-height: 24px;
}

p,
.p3 {
  font-size: 16px;
  line-height: 18px;
}

// OTHERS
.label {
  font-size: 14px;
  line-height: 14px;
  font-family: var(--font-safiro-semibold);
}

.legend {
  font-size: 18px;
  line-height: 18px;
  font-family: var(--font-safiro-regular-italic);
}

.disclaimer {
  font-size: 12px;
  line-height: 12px;
  font-family: var(--font-safiro-regular-italic);
}

.input {
  font-size: 20px;
  line-height: 20px;
}
