// HEADINGS
.h1,
h1 {
  font-size: clamp(38px, 5vw, 70px);
  line-height: 1.2;
  letter-spacing: -0.03em;
  font-family: var(--font-safiro-medium);
}

.h2,
h2 {
  font-size: clamp(26px, 5vw, 48px);
  line-height: 1.2;
  letter-spacing: -0.03em;
  font-family: var(--font-safiro-regular);
}

.h2\!>* {
  font-size: clamp(26px, 5vw, 48px) !important;
  line-height: 1.2 !important;
  letter-spacing: -0.03em !important;
  font-family: var(--font-safiro-regular) !important;
}

.h3,
h3 {
  font-size: 24px;
  line-height: 1.2;
  font-family: var(--font-safiro-regular);
}

// PARAGRAPHS
.p1 {
  font-size: clamp(26px, 5vw, 30px);
  line-height: 1.2;
  font-family: var(--font-safiro-medium);
}

.p2 {
  font-size: 20px;
  line-height: 1.2;
  font-family: var(--font-safiro-medium);
}

p,
.p3 {
  font-size: 16px;
  line-height: 1.2;
  font-family: var(--font-safiro-regular);
}

.p3-regular {
  font-size: 16px;
  line-height: 1.2;
  font-family: var(--font-safiro-regular);
}

.p3-medium {
  font-size: 16px;
  line-height: 1.2;
  font-family: var(--font-safiro-medium);
}

// OTHERS
.label {
  font-size: 14px;
  line-height: 1.2;
  font-family: var(--font-safiro-semibold);
}

.legend {
  font-size: 18px;
  line-height: 1.2;
  font-family: var(--font-safiro-regular-italic);
}

.disclaimer {
  font-size: 12px;
  line-height: 1.2;
  font-family: var(--font-safiro-regular-italic);
}

.input {
  font-size: 20px;
  line-height: 1.2;
}

.clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.clamp-4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.testimonials-item {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

  @media (max-width: 768px) {
    -webkit-line-clamp: 7;
  }
}

.total-awards-number-flow::part(prefix) {
  font-size: 12px;
  color: var(--color-white);
}