@font-face {
  src:
    url('/fonts/Safiro-Medium.woff2') format('woff2'),
    url('/fonts/Safiro-Medium.otf') format('opentype');
  font-family: 'Safiro Medium';
  font-display: swap;
}
@font-face {
  src:
    url('/fonts/Safiro-MediumItalic.woff2') format('woff2'),
    url('/fonts/Safiro-MediumItalic.otf') format('opentype');
  font-family: 'Safiro Medium Italic';
  font-display: swap;
}
@font-face {
  src:
    url('/fonts/Safiro-Regular.woff2') format('woff2'),
    url('/fonts/Safiro-Regular.otf') format('opentype');
  font-family: 'Safiro Regular';
  font-display: swap;
}
@font-face {
  src:
    url('/fonts/Safiro-RegularItalic.woff2') format('woff2'),
    url('/fonts/Safiro-RegularItalic.otf') format('opentype');
  font-family: 'Safiro Regular Italic';
  font-display: swap;
}
