body {
  min-height: 100vh;
  background-color: var(--color-white);
  color: var(--color-black);
  font-size: 16px;
  font-family: var(--font-safiro-medium);
}

html {
  scrollbar-width: none;
  -ms-overflow-style: none;

  ::-moz-selection {
    background: var(--color-blue);
    color: var(--color-white);
  }

  ::selection {
    background: var(--color-yellow);
    color: var(--color-black);
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.animated-text * {
  display: inline-block;
}

.transform-reset {
  transform: none !important;
  translate: none !important;
  rotate: none !important;
  scale: none !important;
}

*::-webkit-scrollbar {
  display: none;
}

.border-gradient-white-to-b {
  position: relative;
  overflow: hidden;
}

.border-gradient-white-to-b::before {
  position: absolute;
  inset: 0;
  padding: 1px;
  border-radius: inherit;
  background: linear-gradient(to bottom, #1b17ee59, #1b17ee02);
  content: '';
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: exclude;
  mask-composite: exclude;
  pointer-events: none;
}

.hide-on-small-height {
  @media (max-height: 800px) {
    display: none !important;
  }
}