@import 'tailwindcss';

:root {
  /* SPACINGS */
  --x-triple-default: calc(var(--x-default) * 3);
  --x-double-default: calc(var(--x-default) * 2);
  --y-double-default: calc(var(--y-default) * 2);
  --x-default: clamp(20px, 4vw, 40px);
  --y-default: clamp(20px, 8vh, 100px);
  --x-half-default: calc(var(--x-default) / 2);
  --y-half-default: calc(var(--y-default) / 2);

  /* FONTS */
  --font-safiro-medium: 'Safiro Medium', sans-serif;
  --font-safiro-medium-italic: 'Safiro Medium Italic', sans-serif;
  --font-safiro-regular: 'Safiro Regular', sans-serif;
  --font-safiro-regular-italic: 'Safiro Regular Italic', sans-serif;
}

@theme {
  /* COLORS (debug color) */
  --color-red: #ff0000;
  --color-green: #00ff00;
  /* COLORS (primary) */
  --color-blue: #1b17ee;
  --color-white: #f1f2ff;
  --color-black: #141418;
  --color-yellow: #caee17;
  /* COLORS (tertiary) */
  --color-blur-glass: #c5c4ff4d;
  --color-menu: #e3e3ff;

  /* FONTS */
  --font-safiro-medium: var(--font-safiro-medium);
  --font-safiro-medium-italic: var(--font-safiro-medium-italic);
  --font-safiro-regular: var(--font-safiro-regular);
  --font-safiro-regular-italic: var(--font-safiro-regular-italic);

  /* PADDING */
  --padding-x-double-default: var(--x-double-default);
  --padding-y-double-default: var(--y-double-default);
  --padding-x-default: var(--x-default);
  --padding-y-default: var(--y-default);
  --padding-x-half-default: var(--x-half-default);
  --padding-y-half-default: var(--y-half-default);

  /* MARGIN */
  --margin-x-default: var(--x-default);
  --margin-y-default: var(--y-default);

  /* SPACE */
  --space-x-default: var(--x-default);
  --space-y-default: var(--y-default);
  --space-x-half-default: var(--x-half-default);
  --space-y-half-default: var(--y-half-default);

  /* INSET */
  --inset-x-default: var(--x-default);
  --inset-y-default: var(--y-default);
  --inset-x-half-default: var(--x-half-default);

  /* GAP */
  --gap-x-default: var(--x-default);
  --gap-y-default: var(--y-default);
  --gap-y-default-double: var(--y-double-default);
  --gap-y-default-half: var(--y-half-default);

  /* WIDTH */
  --width-x-default: var(--x-default);
  --width-screen-padded: calc(100vw - (var(--x-double-default) * 2));

  /* HEIGHT */
  --height-y-default: var(--y-default);
  --height-screen-padded: calc(100vh - (var(--y-double-default) * 2));

  /* GRID TEMPLATE COLUMNS */
  --grid-template-columns-menu: var(--x-default) 1fr var(--x-default);

  /* GRID TEMPLATE ROWS */
  --grid-template-rows-menu: var(--y-default) 1fr var(--y-default);

  /* INSET */
  --inset-x-default: var(--x-default);
  --inset-y-default: var(--y-default);
  --inset-y-double-default: var(--y-double-default);

  /* TRANSORM */
  --transform-translate-x-default: translateX(var(--x-default));
  --transform-translate-y-default: translateY(var(--y-default));

  /* BREAKPOINTS */
  --breakpoint-xs: 380px;

  /* EASING */
  /* Power1 */
  --ease-power1-in: cubic-bezier(0.48, 0.04, 0.52, 0.99);
  --ease-power1-out: cubic-bezier(0.16, 0.84, 0.44, 1);
  --ease-power1-in-out: cubic-bezier(0.45, 0, 0.55, 1);

  /* Power2 */
  --ease-power2-in: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  --ease-power2-out: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --ease-power2-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);

  /* Power3 */
  --ease-power3-in: cubic-bezier(0.61, 0, 0.98, 0.57);
  --ease-power3-out: cubic-bezier(0.06, 0.72, 0.23, 1);
  --ease-power3-in-out: cubic-bezier(0.77, 0, 0.175, 1);

  /* Power4 */
  --ease-power4-in: cubic-bezier(0.7, 0, 0.3, 0);
  --ease-power4-out: cubic-bezier(0.3, 1, 0.7, 1);
  --ease-power4-in-out: cubic-bezier(0.83, 0, 0.17, 1);

  /* Bounce (approximation) */
  --ease-bounce-out: cubic-bezier(0.34, 1.56, 0.64, 1);
  --ease-bounce-in: cubic-bezier(0.76, 0, 0.24, -0.56);
  --ease-bounce-in-out: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/* ASPECT RATIOS */
.aspect-square {
  @apply aspect-square;
}
